<div>
   <div id="textarea">
       @Html.TextArea("MessageText", new { rows = 5, columns = 100 })

       <br />
       <input type="submit" id="PostButton" />
   </div>
   <div id="traffic">

   </div>
</div>
